<p id="notice"><%= notice %></p>

<h1>Listing Api Websites</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_websites.each do |api_website| %>
      <tr>
        <td><%= link_to 'Show', api_website %></td>
        <td><%= link_to 'Edit', edit_api_website_path(api_website) %></td>
        <td><%= link_to 'Destroy', api_website, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Website', new_api_website_path %>
